h1 {
    color: blue;
}

footer {
    height: 60px; /* adjust to fit your footer height */
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 60px; /* same as height */
  }
  
.content {
    min-height: calc(100vh - 100px); /* adjust 100px to fit your footer height */
    text-align: center  ;
}
.input_bar{
    margin: auto;
    text-align: center;
}
  
.downloader_write_space{
    display: inline;
}
.dropdownbar {
    width: 30% !important;
    margin:auto;
    display: inline ;
}
  
