h1 {
    color: blue;
}

footer {
    height:100px;
    position:relative;
    bottom:0;
    width:100%;
    background-color: rgb(26, 26, 26);
    color:white;
    text-align: center;
    line-height: 100px;
  }
  
.content {
    min-height: calc(100vh - 100px); /* adjust 100px to fit your footer height */
    text-align: center  ;
}
.input_bar{
    margin: auto;
    text-align: center;
}
  
.downloader_write_space{
    /* margin-top: 30%; */
    width: 100%;
    position: absolute;
    top: calc(50% - 100px);
    left: 50%;
    transform: translate(-50%, -50%);
   
}
.dropdownbar {
    width: 3    0% !important;
    margin:auto;
    display: inline ;
}
  
/* html {
    height: 100%;
    padding: 0;
} */
