<!DOCTYPE html>
<html>
<head>
    <title>Downloader</title>
    <link rel="stylesheet" href="./static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
</head>
<body>
    
    <div class="content">
        <div class="downloader_write_space">
            <h1>YouTube Downloader</h1>
            <div class="input_bar">

                <form action="/download" method="post">
                    <div class="input-group mb-3 w-50 m-auto">
                        <span class="input-group-text" id="inputGroup-sizing-default">URL</span>
                        <input type="text" name="url" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                      </div>
                    
                      
                      <div class="input-group mb-3 dropdownbar w-50">
                          <label class="input-group-text" for="inputGroupSelect02">Options</label>
                          <select id="format" name="format" class="form-select" id="inputGroupSelect02">
                              <option selected disabled>Format</option>
                              <option value="MP3">MP3</option>
                              <option value="MP4">MP4</option>
                            </select>
                            <select id="resolution-options" class="form-select m-auto" aria-label=".form-select-sm example" name="resolution" style="display:none">
                                <option selected disabled>Choose resolution</option>
                                <option value="360p">360p</option>
                                <option value="480p">480p</option>
                                <option value="720p">720p</option>
                                <option value="1080p">1080p</option>
                              </select>
                        </div>
                        <input class="btn btn-success" type="submit" value="Download">
                    </form>
                </div>
            </div>
        </div>

    <script>
        
        // Show resolution options only when MP4 is selected
        var formatSelect = document.getElementById('format');
        var resolutionOptions = document.getElementById('resolution-options');
        formatSelect.addEventListener('change', function() {
            if (formatSelect.value === 'MP4') {
                resolutionOptions.style.display = 'block';
                console.log(1)
            } else {
                resolutionOptions.style.display = 'none';
                console.log(0)

            }
        });
     
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
<footer>
    <p>Created by Baghirov Feyruz & Murad Mammadov</p>
</footer>
</html>
